In [1]:
import pandas as pd

In [2]:
cols = [
    "name",
    "team",
    "mean",
    "std",
    "50%",
    "2.5%",
    "97.5%",
    "total_minutes",
    "total_games",
    "total_wins",
    "total_draws",
    "weighted_score",
    "weighted_goals",
    "weighted_goals_difference",
]

In [ ]:
def load_df(file_name):
    full_path = f"../real_data/player_level_results/{file_name}"
    df = pd.read_csv(full_path)
    num_players = len(df[~df["name"].isna()]["name"].unique())
    print(f"Total number of players: {num_players}")
    global_params = df[
        (df["player_id"].isin(["None", "home_effect", "correlation_strength"]))
    ][["index", "50%", "mean", "std", "2.5%", "95%", "97.5%"]]

    df.dropna(inplace=True)
    df["total_minutes"] = df["total_minutes"].astype(int)
    df["total_games"] = df["total_games"].astype(int)
    df["total_wins"] = df["total_wins"].astype(int)
    df["total_draws"] = df["total_draws"].astype(int)

    corr = df["50%"].corr(df["weighted_score"])
    print(f"Correlation between median and weighted_score: {corr:.4f}")
    corr = df["50%"].corr(df["weighted_goals"])
    print(f"Correlation between median and weighted_goals: {corr:.4f}")
    corr = df["50%"].corr(df["weighted_goals_difference"])
    print(f"Correlation between median and weighted_goals_difference: {corr:.4f}")

    display(global_params)

    return df

In [4]:
def show_stats(df, top=True, n=20, show_latex=False):
    if top:
        stats = df.sort_values(by="50%", ascending=False).head(n)[cols]
    else:
        stats = df.sort_values(by="50%", ascending=False).tail(n)[cols]

    num_players = len(df["name"].unique())
    if show_latex:
        print(
            "# & name & team & mean & std & median & [ci_low, ci_high] & "
            "total_minutes & total_games & total_wins & total_draws & weighted_score & "
            "weighted_goals & weighted_goals_difference \\\\"
        )
        for i, row in enumerate(stats.values):
            (
                name,
                team,
                mean,
                std,
                median,
                ci_low,
                ci_high,
                total_minutes,
                total_games,
                total_wins,
                total_draws,
                weighted_score,
                weighted_goals,
                weighted_goals_difference,
            ) = row
            team = team.split("/")[0].strip()
            idx = i + 1 if top else num_players - n + i + 1
            print(
                f"{idx} & {name} & {team} & {mean:.3f} & {std:.2f} & {median:.3f} & "
                f"[{ci_low:.2f}, {ci_high:.2f}] & {total_minutes:,} & {total_games} & "
                f"{total_wins} & {total_draws} & {weighted_score:.1f} & "
                f"{weighted_goals:.1f} & {weighted_goals_difference:.1f} \\\\"
            )
    else:
        display(stats)

# 2025

In [5]:
df = load_df("players_summary_2025_poisson_7.csv")

Total number of players: 730
Correlation between median and weighted_score: 0.4981
Correlation between median and weighted_goals: 0.4466
Correlation between median and weighted_goals_difference: 0.9924

,index,50%,mean,std,2.5%,95%,97.5%
0,home_effect,0.421856,0.421532,0.065699,0.293964,0.529428,0.549279
1,correlation_strength,-0.002071,-0.002178,0.050918,-0.104341,0.080294,0.096083
2,None,-2.275175,-2.509474,1.687570,-6.412668,-0.160076,0.120551

In [6]:
show_stats(df, top=True, show_latex=True)

# & name & team & mean & std & median & [ci_low, ci_high] & total_minutes & total_games & total_wins & total_draws & weighted_score & weighted_goals & weighted_goals_difference \\
1 & 1ROSSI Agustin Daniel Rossi T(g)P815100 & Flamengo & 0.049 & 0.10 & 0.049 & [-0.15, 0.25] & 3,330 & 37 & 23 & 9 & 78.0 & 75.0 & 51.0 \\
2 & 4Leo Pereira Leonardo Pereira TP310373 & Flamengo & 0.045 & 0.10 & 0.046 & [-0.16, 0.25] & 2,954 & 33 & 22 & 8 & 73.5 & 68.5 & 47.5 \\
3 & 10De Arrascaeta Giorgian Daniel de A ... TP521990 & Flamengo & 0.036 & 0.10 & 0.037 & [-0.16, 0.23] & 2,402 & 33 & 22 & 7 & 58.5 & 52.2 & 35.8 \\
4 & 3Léo Ortiz Leonardo Rech Ortiz TP422469 & Flamengo & 0.031 & 0.10 & 0.030 & [-0.17, 0.23] & 2,248 & 26 & 16 & 7 & 52.0 & 45.0 & 31.7 \\
5 & 7Luiz Luiz de Araujo Guima ... TP424455 & Flamengo & 0.029 & 0.10 & 0.029 & [-0.17, 0.23] & 1,712 & 33 & 22 & 7 & 44.0 & 40.9 & 29.3 \\
6 & 25Villalba Lucas Hernan Villalba RP837958 & Cruzeiro & 0.027 & 0.10 & 0.027 & [-0.17, 0.23] & 2,864 & 32 & 16 & 13 & 60.5 & 47.3 & 27.3 \\
7 & 21Weverton Weverton Pereira da Silva T(g)P169050 & Palmeiras & 0.027 & 0.10 & 0.027 & [-0.17, 0.23] & 2,340 & 26 & 19 & 3 & 60.0 & 49.0 & 28.0 \\
8 & 3Jemmes Jemmes Bruno Ribeiro ... TP582558 & Mirassol & 0.026 & 0.10 & 0.026 & [-0.17, 0.22] & 3,318 & 37 & 18 & 13 & 66.6 & 62.7 & 25.9 \\
9 & 16Lucas Silva Lucas Silva Borges RP320111 & Cruzeiro & 0.025 & 0.10 & 0.025 & [-0.17, 0.22] & 2,752 & 34 & 18 & 12 & 58.5 & 45.9 & 24.6 \\
10 & 88Christian Christian Roberto Al ... TP546294 & Cruzeiro & 0.025 & 0.10 & 0.025 & [-0.17, 0.22] & 2,387 & 30 & 17 & 10 & 55.1 & 41.2 & 25.7 \\
11 & 19Kaio Jorge Kaio Jorge Pinto Ramos TP541499 & Cruzeiro & 0.024 & 0.10 & 0.025 & [-0.18, 0.22] & 2,687 & 33 & 18 & 11 & 58.0 & 45.3 & 24.5 \\
12 & 15Fabrício B ... Fabricio Bruno Soare ... TP389228 & Cruzeiro & 0.025 & 0.10 & 0.024 & [-0.17, 0.22] & 2,950 & 33 & 17 & 11 & 61.8 & 49.0 & 24.0 \\
13 & 6Kaiki Bruno Kaiki Bruno da Silva TP541008 & Cruzeiro & 0.024 & 0.10 & 0.024 & [-0.17, 0.22] & 2,996 & 34 & 17 & 12 & 62.3 & 49.9 & 24.4 \\
14 & 8Daniel Daniel de Oliveira S ... TP335362 & Mirassol & 0.025 & 0.10 & 0.024 & [-0.17, 0.22] & 3,265 & 37 & 18 & 12 & 65.5 & 60.8 & 23.9 \\
15 & 2Varela Guillermo Varela Olivera RP778033 & Flamengo & 0.024 & 0.10 & 0.024 & [-0.18, 0.22] & 1,326 & 20 & 13 & 5 & 36.1 & 31.6 & 25.6 \\
16 & 9Pedro Pedro Guilherme Abre ... RP303716 & Flamengo & 0.023 & 0.10 & 0.023 & [-0.17, 0.22] & 1,044 & 21 & 14 & 5 & 27.9 & 30.6 & 23.7 \\
17 & 2Vitinho Victor Alexander da Silva TP458582 & Botafogo & 0.023 & 0.10 & 0.023 & [-0.17, 0.22] & 2,875 & 36 & 17 & 11 & 56.7 & 50.9 & 21.2 \\
18 & 25Neto Antonio Francisco Mo ... TP383527 & Mirassol & 0.023 & 0.10 & 0.023 & [-0.18, 0.22] & 2,479 & 34 & 16 & 12 & 50.4 & 49.0 & 21.4 \\
19 & 26Alex Sandro Alex Sandro Lobo Silva TP186325 & Flamengo & 0.023 & 0.10 & 0.023 & [-0.17, 0.22] & 1,499 & 19 & 13 & 5 & 37.0 & 33.2 & 23.2 \\
20 & 22Joaquin Pi ... Joaquin Piquerez Moreira TP725766 & Palmeiras & 0.023 & 0.10 & 0.022 & [-0.17, 0.22] & 2,411 & 29 & 18 & 5 & 55.9 & 47.2 & 24.8 \\

In [7]:
show_stats(df, top=False, show_latex=True)

# & name & team & mean & std & median & [ci_low, ci_high] & total_minutes & total_games & total_wins & total_draws & weighted_score & weighted_goals & weighted_goals_difference \\
711 & 2Ewerthon Ewerthon Diogenes da ... TP500506 & Juventude & -0.012 & 0.10 & -0.012 & [-0.21, 0.18] & 1,110 & 17 & 3 & 5 & 8.0 & 10.1 & -16.7 \\
712 & 79Renato Kayzer Renato Kayzer de Souza RP337840 & Vitória & -0.013 & 0.10 & -0.013 & [-0.21, 0.18] & 2,042 & 28 & 7 & 9 & 21.9 & 18.4 & -18.3 \\
713 & 95Caique Caique de Jesus Goncalves RP502736 & Juventude & -0.014 & 0.10 & -0.014 & [-0.21, 0.18] & 2,054 & 28 & 7 & 6 & 18.8 & 19.5 & -20.1 \\
714 & 2Ramon Ramon Ramos Lima RP526090 & Vitória & -0.014 & 0.10 & -0.014 & [-0.21, 0.18] & 1,949 & 23 & 7 & 5 & 25.1 & 15.1 & -20.1 \\
715 & 30Chrystian Chrystian Amaral Bar ... RP546794 & Sport & -0.014 & 0.10 & -0.015 & [-0.21, 0.18] & 1,546 & 33 & 2 & 11 & 6.8 & 10.7 & -18.7 \\
716 & 40Ramon Menezes Ramon Menezes Roma RP402095 & Sport & -0.016 & 0.10 & -0.015 & [-0.21, 0.17] & 1,923 & 23 & 2 & 7 & 13.0 & 19.5 & -22.9 \\
717 & 92Pablo Pablo Felipe Teixeira TP307317 & Sport & -0.015 & 0.10 & -0.015 & [-0.21, 0.18] & 1,098 & 20 & 1 & 5 & 2.3 & 10.1 & -21.9 \\
718 & 28Alan Ruschel Alan Luciano Ruschel TP187597 & Juventude & -0.014 & 0.10 & -0.015 & [-0.21, 0.18] & 1,275 & 20 & 3 & 4 & 7.1 & 8.7 & -18.5 \\
719 & 22Caique Caique Franca Godoy T(g)P313131 & Sport & -0.015 & 0.10 & -0.015 & [-0.21, 0.18] & 1,350 & 15 & 0 & 4 & 4.0 & 8.0 & -21.0 \\
720 & 16Igor Carius Igor Aquino da Silva TP421778 & Sport & -0.015 & 0.10 & -0.015 & [-0.21, 0.18] & 1,822 & 26 & 2 & 8 & 10.2 & 13.6 & -21.5 \\
721 & 44Luiz Luiz Gustavo da Silv ... TP539820 & Juventude & -0.017 & 0.10 & -0.017 & [-0.21, 0.18] & 2,407 & 31 & 6 & 8 & 23.9 & 22.9 & -22.6 \\
722 & 21Lucas Lucas Kal Schenfeld  ... TP337242 & Sport & -0.018 & 0.10 & -0.018 & [-0.21, 0.17] & 904 & 11 & 0 & 0 & 0.0 & 6.1 & -23.9 \\
723 & 36Luan Candido Luan Candido de Almeida RP540157 & Sport & -0.017 & 0.10 & -0.018 & [-0.21, 0.18] & 1,317 & 15 & 1 & 3 & 6.0 & 12.6 & -22.6 \\
724 & 17Matheusinho Matheus Leonardo Sal ... TP398805 & Sport & -0.019 & 0.10 & -0.019 & [-0.21, 0.18] & 1,702 & 23 & 2 & 6 & 10.2 & 16.3 & -23.8 \\
725 & 15R. Thyere Rafael Thyere de Alb ... RP313474 & Sport & -0.021 & 0.10 & -0.020 & [-0.21, 0.18] & 2,151 & 24 & 2 & 8 & 14.0 & 20.8 & -27.8 \\
726 & 21Gabriel Gabriel Vasconcelos  ... T(g)P315345 & Sport & -0.021 & 0.10 & -0.021 & [-0.21, 0.17] & 2,160 & 24 & 2 & 7 & 13.0 & 20.0 & -28.0 \\
727 & 16Jadson Jadson Alves dos Santos TP302192 & Juventude & -0.023 & 0.10 & -0.022 & [-0.21, 0.17] & 2,920 & 35 & 9 & 7 & 29.9 & 30.6 & -31.4 \\
728 & 33Matheus Al ... Matheus Alexandre An ... RP517052 & Sport & -0.024 & 0.10 & -0.023 & [-0.22, 0.17] & 1,782 & 25 & 2 & 7 & 9.0 & 16.1 & -28.1 \\
729 & 10Lucas Lima Lucas Rafael Araujo Lima TP331937 & Sport & -0.028 & 0.10 & -0.028 & [-0.22, 0.16] & 2,549 & 32 & 1 & 9 & 10.8 & 20.6 & -36.5 \\
730 & 14RIVERA Christian Hernando R ... TP896161 & Sport & -0.028 & 0.10 & -0.028 & [-0.22, 0.16] & 2,818 & 33 & 2 & 8 & 14.0 & 24.3 & -39.5 \\

# 2020-2025

In [8]:
df = load_df("players_summary_2020-2025_poisson_7.csv")

Total number of players: 1975
Correlation between median and weighted_score: 0.5193
Correlation between median and weighted_goals: 0.4972
Correlation between median and weighted_goals_difference: 0.9948

,index,50%,mean,std,2.5%,95%,97.5%
0,home_effect,0.323674,0.323569,0.027451,0.269809,0.368555,0.377417
1,correlation_strength,0.015772,0.015726,0.020901,-0.025402,0.049990,0.056741
2,None,-4.813255,-5.235895,2.415083,-10.946535,-2.069762,-1.739932

In [9]:
show_stats(df, top=True, show_latex=True)

# & name & team & mean & std & median & [ci_low, ci_high] & total_minutes & total_games & total_wins & total_draws & weighted_score & weighted_goals & weighted_goals_difference \\
1 & 1Weverton Weverton Pereira da Silva T(g)P169050 & Palmeiras & 0.132 & 0.10 & 0.132 & [-0.07, 0.33] & 16,448 & 183 & 105 & 44 & 359.0 & 308.0 & 153.5 \\
2 & 14de Arrasca ... Giorgian Daniel de A ... TP521990 & Flamengo & 0.094 & 0.10 & 0.093 & [-0.10, 0.30] & 9,864 & 142 & 87 & 29 & 225.9 & 205.5 & 106.7 \\
3 & 14Fabricio B ... Fabricio Bruno Soare ... TP389228 & Flamengo & 0.083 & 0.10 & 0.083 & [-0.12, 0.28] & 13,391 & 155 & 81 & 43 & 275.7 & 235.6 & 94.2 \\
4 & 15GUSTAVO GOMEZ Gustavo Raul Gomez P ... TP633571 & Palmeiras & 0.083 & 0.10 & 0.083 & [-0.12, 0.29] & 13,786 & 157 & 86 & 39 & 290.7 & 236.2 & 105.5 \\
5 & 26Murilo Murilo Cerqueira Paim TP392224 & Palmeiras & 0.082 & 0.10 & 0.082 & [-0.12, 0.28] & 8,930 & 102 & 60 & 27 & 202.5 & 167.3 & 96.4 \\
6 & 22Joaquin Pi ... Joaquin Piquerez Moreira RP725766 & Palmeiras & 0.079 & 0.10 & 0.079 & [-0.12, 0.28] & 9,453 & 112 & 68 & 24 & 216.5 & 179.2 & 99.9 \\
7 & 2Marcos Rocha Marcos Luis Rocha Aquino TP176390 & Palmeiras & 0.077 & 0.10 & 0.076 & [-0.12, 0.27] & 9,723 & 133 & 75 & 34 & 213.0 & 178.8 & 91.1 \\
8 & 23Raphael Veiga Raphael Cavalcante Veiga TP308405 & Palmeiras & 0.076 & 0.10 & 0.076 & [-0.13, 0.28] & 11,203 & 164 & 91 & 37 & 236.4 & 200.3 & 93.0 \\
9 & 4Leo Pereira Leonardo Pereira TP310373 & Flamengo & 0.066 & 0.10 & 0.067 & [-0.13, 0.27] & 11,332 & 136 & 72 & 35 & 231.1 & 207.6 & 84.0 \\
10 & 8Ze Rafael Jose Rafael Vivian TP330886 & Palmeiras & 0.064 & 0.10 & 0.064 & [-0.14, 0.26] & 11,385 & 159 & 84 & 39 & 232.3 & 199.9 & 82.3 \\
11 & 17ROSSI Agustin Daniel Rossi RP815100 & Flamengo & 0.062 & 0.10 & 0.063 & [-0.14, 0.26] & 7,830 & 87 & 49 & 22 & 169.0 & 149.0 & 74.0 \\
12 & 31Everson Everson Felipe Marqu ... T(g)P188398 & Atlético Mineiro & 0.060 & 0.10 & 0.060 & [-0.14, 0.26] & 17,901 & 199 & 90 & 57 & 326.9 & 276.8 & 72.0 \\
13 & 6Rene Rene Rodrigues Martins RP346636 & Internacional & 0.058 & 0.10 & 0.058 & [-0.14, 0.26] & 9,691 & 128 & 67 & 33 & 197.1 & 152.3 & 61.0 \\
14 & 11Rony Ronielson da Silva B ... TP427806 & Palmeiras & 0.056 & 0.10 & 0.056 & [-0.14, 0.25] & 11,222 & 181 & 90 & 49 & 221.0 & 190.4 & 73.1 \\
15 & 3Ortiz Leonardo Rech Ortiz TP422469 & Red Bull Bragantino & 0.054 & 0.10 & 0.055 & [-0.15, 0.25] & 12,565 & 149 & 65 & 48 & 226.6 & 202.7 & 64.7 \\
16 & 21Pedro Pedro Guilherme Abre ... RP303716 & Flamengo & 0.052 & 0.10 & 0.052 & [-0.15, 0.25] & 9,030 & 157 & 87 & 33 & 184.7 & 170.2 & 65.9 \\
17 & 27Bruno Bruno Henrique Pinto TP401839 & Flamengo & 0.052 & 0.10 & 0.052 & [-0.15, 0.25] & 10,385 & 148 & 81 & 35 & 211.8 & 182.4 & 64.7 \\
18 & 6Ayrton Lucas Ayrton Lucas Dantas  ... RP432491 & Flamengo & 0.051 & 0.10 & 0.052 & [-0.15, 0.25] & 8,812 & 116 & 60 & 26 & 174.8 & 159.9 & 61.6 \\
19 & 8Gerson Gerson Santos da Silva TP310733 & Flamengo & 0.050 & 0.10 & 0.050 & [-0.15, 0.25] & 8,946 & 109 & 61 & 25 & 192.2 & 173.4 & 63.5 \\
20 & 15Victor Cue ... Victor Leandro Cuesta TP567555 & Internacional & 0.051 & 0.10 & 0.050 & [-0.15, 0.25] & 12,449 & 141 & 63 & 40 & 226.6 & 192.8 & 55.3 \\

In [10]:
show_stats(df, top=False, show_latex=True)

# & name & team & mean & std & median & [ci_low, ci_high] & total_minutes & total_games & total_wins & total_draws & weighted_score & weighted_goals & weighted_goals_difference \\
1956 & 6Victor Victor Luis Chuab Za ... TP309431 & Botafogo & -0.025 & 0.10 & -0.026 & [-0.22, 0.17] & 6,632 & 104 & 23 & 31 & 67.1 & 74.1 & -32.7 \\
1957 & 16Lucas Lucas Kal Schenfeld  ... RP337242 & América & -0.025 & 0.10 & -0.026 & [-0.22, 0.17] & 7,119 & 94 & 27 & 20 & 89.6 & 78.8 & -34.7 \\
1958 & 2Rodrigo Rodrigo Alves Soares TP342224 & Juventude & -0.026 & 0.10 & -0.026 & [-0.22, 0.16] & 2,788 & 35 & 3 & 11 & 17.9 & 23.0 & -34.4 \\
1959 & 9Pedro Raul Pedro Raul Garay da Silva TP502361 & Ceará & -0.026 & 0.10 & -0.026 & [-0.22, 0.16] & 8,898 & 123 & 27 & 39 & 101.1 & 93.5 & -37.9 \\
1960 & 3Victor Victor Hugo Soares d ... TP355418 & Bahia & -0.028 & 0.10 & -0.027 & [-0.22, 0.16] & 10,710 & 124 & 37 & 27 & 132.6 & 128.9 & -36.8 \\
1961 & 21Shaylon Shaylon Kallyson Cardozo RP421138 & Atlético Goianiense & -0.027 & 0.10 & -0.028 & [-0.22, 0.17] & 6,143 & 103 & 26 & 28 & 65.1 & 63.3 & -36.6 \\
1962 & 15R. Thyere Rafael Thyere de Alb ... RP313474 & Sport & -0.028 & 0.10 & -0.028 & [-0.22, 0.17] & 5,567 & 66 & 14 & 20 & 56.0 & 49.1 & -37.2 \\
1963 & 33Halter Lucas Halter RP440063 & Goiás & -0.029 & 0.10 & -0.029 & [-0.22, 0.16] & 8,664 & 104 & 33 & 27 & 112.1 & 94.5 & -39.1 \\
1964 & 14RIVERA Christian Hernando R ... TP896161 & Sport & -0.029 & 0.10 & -0.029 & [-0.22, 0.16] & 2,818 & 33 & 2 & 8 & 14.0 & 24.3 & -39.5 \\
1965 & 9Gilberto Gilberto Oliveira So ... TP185444 & Bahia & -0.030 & 0.10 & -0.030 & [-0.22, 0.16] & 8,156 & 133 & 37 & 30 & 93.8 & 99.0 & -38.8 \\
1966 & 27Matheus Matheus Alexandre An ... RP517052 & Cuiabá & -0.030 & 0.10 & -0.030 & [-0.22, 0.16] & 8,629 & 111 & 27 & 26 & 96.8 & 91.8 & -37.9 \\
1967 & 5Gabriel  B ... Gabriel Baralhas dos ... TP435315 & Atlético Goianiense & -0.032 & 0.10 & -0.031 & [-0.23, 0.16] & 9,088 & 129 & 37 & 35 & 110.1 & 96.7 & -44.6 \\
1968 & 3Eder Eder Ferreira Graminho TP318115 & Atlético Goianiense & -0.034 & 0.10 & -0.034 & [-0.22, 0.16] & 10,617 & 126 & 37 & 35 & 136.3 & 111.3 & -46.0 \\
1969 & 23Tadeu Tadeu Antonio Ferreira T(g)P308316 & Goiás & -0.035 & 0.10 & -0.035 & [-0.22, 0.15] & 9,450 & 105 & 26 & 31 & 109.0 & 107.0 & -48.0 \\
1970 & 40Matheusinho Matheus Leonardo Sal ... RP398805 & Sport & -0.035 & 0.10 & -0.036 & [-0.23, 0.16] & 4,960 & 85 & 20 & 20 & 52.5 & 55.4 & -41.3 \\
1971 & 80PITTA Isidro Miguel Pitta  ... RP750089 & Cuiabá & -0.037 & 0.10 & -0.037 & [-0.23, 0.15] & 7,161 & 118 & 31 & 27 & 66.6 & 64.7 & -48.8 \\
1972 & 2Kevin Kevin Peterson dos S ... TP502001 & Avaí & -0.038 & 0.10 & -0.037 & [-0.23, 0.15] & 5,213 & 65 & 11 & 15 & 45.4 & 51.6 & -47.6 \\
1973 & 20Lucas Lima Lucas Rafael Araujo Lima TP331937 & Sport & -0.044 & 0.10 & -0.044 & [-0.24, 0.15] & 8,823 & 137 & 32 & 40 & 91.4 & 93.5 & -54.0 \\
1974 & 71Jadson Jadson Alves dos Santos RP302192 & Juventude & -0.050 & 0.10 & -0.050 & [-0.24, 0.14] & 10,300 & 131 & 30 & 38 & 113.0 & 114.7 & -66.4 \\
1975 & 1Gabriel Gabriel Vasconcelos  ... R(g)P315345 & Coritiba & -0.052 & 0.10 & -0.051 & [-0.24, 0.14] & 9,110 & 102 & 23 & 25 & 93.5 & 104.2 & -71.4 \\