In [1]:
import numpy as np
import pandas as pd

In [2]:
def create_rank(df, metric_name):
    df[f"{metric_name}_rank"] = (
        df.groupby(["championship", "year"])[metric_name]
        .rank(method="min", ascending=True)
        .astype(int)
    )

    df[f"{metric_name}_rank_gt_naive"] = df["model_name"] == "naive"
    df[f"{metric_name}_rank_gt_naive"] = (
        df.sort_values(["championship", "year", f"{metric_name}_rank"])
        .groupby(["championship", "year"])[f"{metric_name}_rank_gt_naive"]
        .cumsum()
        .astype(int)
    )

    return df

In [3]:
def calculate_metrics(country: str):
    df = pd.read_csv(f"../real_data/results/metrics_{country}.csv")
    metrics = (
        df[df["year"] > 2019]
        .groupby(["championship", "model_name", "year"])
        .agg(
            num_scenarios=("num_games", "nunique"),
            bs=("brier_score", "mean"),
            rps=("ranked_probability_score", "mean"),
            ls=("log_score", "mean"),
            interval_score=("interval_score", "mean"),
        )
        .reset_index()
    )

    metrics["interval_score"] = metrics["interval_score"].fillna(np.inf)
    metrics = create_rank(metrics, "bs")
    metrics = create_rank(metrics, "rps")
    metrics = create_rank(metrics, "ls")
    metrics = create_rank(metrics, "interval_score")
    metrics = metrics.sort_values(by=["bs_rank", "year"], ignore_index=True)
    cols = [
        "championship",
        "model_name",
        "year",
        "num_scenarios",
        "bs",
        "rps",
        "ls",
        "interval_score",
        "bs_rank",
        "rps_rank",
        "ls_rank",
        "interval_score_rank",
        "bs_rank_gt_naive",
        "rps_rank_gt_naive",
        "ls_rank_gt_naive",
        "interval_score_rank_gt_naive",
    ]

    return (
        metrics[cols]
        .groupby(["championship", "model_name"])
        .agg(
            num_scenarios=("num_scenarios", "sum"),
            bs=("bs", "mean"),
            rps=("rps", "mean"),
            ls=("ls", "mean"),
            interval_score=("interval_score", "mean"),
        )
        .reset_index()
        .sort_values(by=["bs"], ascending=True, ignore_index=True)
        .head(16)
    )

In [4]:
calculate_metrics("brazil")

,championship,model_name,num_scenarios,bs,rps,ls,interval_score
0,brazil,poisson_2,25,0.638225,0.220370,1.058391,1116.348638
1,brazil,poisson_4,25,0.651555,0.226129,1.080823,1157.060261
2,brazil,poisson_1,25,0.655193,0.228113,1.082410,1117.689998
3,brazil,bradley_terry_3,25,0.659401,0.230612,1.091159,1134.268391
4,brazil,bradley_terry_4,25,0.660396,0.230975,1.093454,1137.337482
5,brazil,naive,25,0.666667,0.232791,1.098612,NaN
6,brazil,poisson_3,25,0.667383,0.233754,1.103942,1156.852752
7,brazil,poisson_5,25,0.681264,0.239936,1.124512,1170.016298

In [5]:
calculate_metrics("france")

,championship,model_name,num_scenarios,bs,rps,ls,interval_score
0,france,poisson_3,10,0.610253,0.224090,1.023570,1107.947694
1,france,poisson_4,10,0.615369,0.226635,1.032235,1111.827122
2,france,poisson_2,10,0.615478,0.225191,1.029339,1092.731747
3,france,poisson_1,10,0.616837,0.222786,1.030232,1089.857830
4,france,bradley_terry_3,10,0.622679,0.228095,1.047895,1127.789327
5,france,bradley_terry_4,10,0.624596,0.228759,1.052581,1130.610765
6,france,naive,10,0.666667,0.244339,1.098612,NaN
7,france,poisson_5,10,0.704214,0.267800,1.167047,1203.672467

In [6]:
calculate_metrics("germany")

,championship,model_name,num_scenarios,bs,rps,ls,interval_score
0,germany,poisson_1,25,0.617287,0.213668,1.029463,1063.294535
1,germany,poisson_2,25,0.623791,0.216375,1.036022,1069.143135
2,germany,bradley_terry_4,25,0.627437,0.217299,1.045090,1076.501618
3,germany,bradley_terry_3,25,0.627457,0.217331,1.045172,1075.448958
4,germany,poisson_4,25,0.630912,0.218079,1.051232,1088.675387
5,germany,poisson_3,25,0.634569,0.220577,1.057947,1089.977297
6,germany,naive,25,0.666667,0.235031,1.098612,NaN
7,germany,poisson_5,25,0.702140,0.251160,1.158639,1191.156054

In [7]:
calculate_metrics("italy")

,championship,model_name,num_scenarios,bs,rps,ls,interval_score
0,italy,poisson_1,25,0.607143,0.205297,1.013972,1114.716666
1,italy,poisson_4,25,0.609217,0.204622,1.019298,1124.076254
2,italy,poisson_2,25,0.610504,0.206706,1.017855,1118.081836
3,italy,poisson_3,25,0.612122,0.206384,1.023879,1124.219116
4,italy,bradley_terry_4,25,0.613558,0.206959,1.023011,1131.124738
5,italy,bradley_terry_3,25,0.613635,0.207034,1.023093,1130.791194
6,italy,naive,25,0.666667,0.232224,1.098612,NaN
7,italy,poisson_5,25,0.692601,0.243412,1.145405,1277.554941

In [8]:
calculate_metrics("netherlands")

,championship,model_name,num_scenarios,bs,rps,ls,interval_score
0,netherlands,poisson_4,25,0.580503,0.199295,0.978085,1102.581215
1,netherlands,poisson_2,25,0.582803,0.200159,0.979667,1089.573437
2,netherlands,poisson_3,25,0.589288,0.203442,0.991817,1105.392037
3,netherlands,poisson_1,25,0.589434,0.201792,0.990078,1089.278260
4,netherlands,bradley_terry_4,25,0.597649,0.207138,1.002604,1115.705023
5,netherlands,bradley_terry_3,25,0.598007,0.207272,1.003306,1115.837021
6,netherlands,naive,25,0.666667,0.237655,1.098612,NaN
7,netherlands,poisson_5,25,0.681393,0.247169,1.128368,1260.323918

In [9]:
calculate_metrics("portugal")

,championship,model_name,num_scenarios,bs,rps,ls,interval_score
0,portugal,poisson_4,25,0.580164,0.197366,0.976967,1099.837489
1,portugal,bradley_terry_3,25,0.580336,0.199065,0.977234,1096.990302
2,portugal,bradley_terry_4,25,0.580366,0.199111,0.977277,1098.538622
3,portugal,poisson_2,25,0.581323,0.199247,0.978446,1095.665250
4,portugal,poisson_1,25,0.584438,0.200496,0.983556,1093.808653
5,portugal,poisson_3,25,0.584873,0.199793,0.984728,1099.433682
6,portugal,naive,25,0.666667,0.236990,1.098612,NaN
7,portugal,poisson_5,25,0.707881,0.256104,1.168111,1258.835177

In [10]:
calculate_metrics("spain")

,championship,model_name,num_scenarios,bs,rps,ls,interval_score
0,spain,poisson_2,25,0.604478,0.207332,1.010976,1089.657852
1,spain,poisson_4,25,0.610811,0.209058,1.023909,1097.383907
2,spain,poisson_1,25,0.615364,0.212125,1.026914,1089.844407
3,spain,poisson_3,25,0.620790,0.213923,1.039460,1098.431447
4,spain,bradley_terry_4,25,0.621421,0.213937,1.039926,1107.469374
5,spain,bradley_terry_3,25,0.621482,0.214099,1.039195,1107.481602
6,spain,naive,25,0.666667,0.234575,1.098612,NaN
7,spain,poisson_5,25,0.686129,0.243723,1.134186,1235.817498