In [1]:
import pandas as pd

In [2]:
def create_rank(df, metric_name):
    df[f"{metric_name}_rank"] = (
        df.groupby("year")[metric_name].rank(method="min", ascending=True).astype(int)
    )

    df[f"{metric_name}_rank_gt_naive"] = df["model_name"] == "naive"
    df[f"{metric_name}_rank_gt_naive"] = (
        df.sort_values(["year", f"{metric_name}_rank"])
        .groupby("year")[f"{metric_name}_rank_gt_naive"]
        .cumsum()
        .astype(int)
    )

    return df

In [3]:
df = pd.read_csv("../real_data/results/metrics.csv")
metrics = (
    df.groupby(["model_name", "year"])
    .agg(
        num_rounds=("num_rounds", "nunique"),
        bs=("brier_score", "mean"),
        rps=("ranked_probability_score", "mean"),
        ls=("log_score", "mean"),
    )
    .reset_index()
)


metrics = create_rank(metrics, "bs")
metrics = create_rank(metrics, "rps")
metrics = create_rank(metrics, "ls")
metrics = metrics.sort_values(by=["bs_rank", "year"], ignore_index=True)
cols = [
    "model_name",
    "year",
    "num_rounds",
    "bs",
    "rps",
    "ls",
    "bs_rank",
    "rps_rank",
    "ls_rank",
    "bs_rank_gt_naive",
    "rps_rank_gt_naive",
    "ls_rank_gt_naive",
]

metrics[cols].head(18)

,model_name,year,num_rounds,bs,rps,ls,bs_rank,rps_rank,ls_rank,bs_rank_gt_naive,rps_rank_gt_naive,ls_rank_gt_naive
0,poisson_2,2019,5,0.610386,0.207571,1.020561,1,1,1,0,0,0
1,poisson_2,2020,5,0.637875,0.220218,1.057718,1,1,1,0,0,0
2,poisson_2,2021,5,0.640098,0.221308,1.059700,1,1,1,0,0,0
3,poisson_2,2022,5,0.627416,0.216166,1.043888,1,1,1,0,0,0
4,poisson_2,2023,5,0.636559,0.222511,1.055645,1,1,1,0,0,0
5,poisson_2,2024,5,0.644047,0.223656,1.066786,1,1,1,0,0,0
6,poisson_1,2019,5,0.629037,0.216234,1.046402,2,2,2,0,0,0
7,poisson_4,2020,5,0.649856,0.224753,1.076066,2,2,2,0,0,0
8,poisson_1,2021,5,0.654290,0.228057,1.079825,2,3,2,0,0,0
9,poisson_4,2022,5,0.640243,0.222466,1.063048,2,2,2,0,0,0
10,poisson_4,2023,5,0.644047,0.225571,1.068317,2,2,2,0,0,0
11,poisson_1,2024,5,0.659328,0.231094,1.090100,2,3,2,0,0,0
12,bradley_terry_4,2019,5,0.634082,0.219608,1.055951,3,4,3,0,0,0
13,poisson_1,2020,5,0.653514,0.227333,1.079831,3,3,3,0,0,0
14,poisson_4,2021,5,0.655926,0.224965,1.081402,3,2,3,0,0,0
15,poisson_1,2022,5,0.643873,0.223305,1.066066,3,3,3,0,0,0
16,poisson_1,2023,5,0.657954,0.231755,1.086199,3,3,3,0,0,0
17,poisson_4,2024,5,0.660373,0.226027,1.091468,3,2,3,0,0,0

In [4]:
metrics[metrics["model_name"] == "poisson_2"][cols]

,model_name,year,num_rounds,bs,rps,ls,bs_rank,rps_rank,ls_rank,bs_rank_gt_naive,rps_rank_gt_naive,ls_rank_gt_naive
0,poisson_2,2019,5,0.610386,0.207571,1.020561,1,1,1,0,0,0
1,poisson_2,2020,5,0.637875,0.220218,1.057718,1,1,1,0,0,0
2,poisson_2,2021,5,0.640098,0.221308,1.059700,1,1,1,0,0,0
3,poisson_2,2022,5,0.627416,0.216166,1.043888,1,1,1,0,0,0
4,poisson_2,2023,5,0.636559,0.222511,1.055645,1,1,1,0,0,0
5,poisson_2,2024,5,0.644047,0.223656,1.066786,1,1,1,0,0,0

In [5]:
metrics[metrics["model_name"] == "poisson_5"][cols]

,model_name,year,num_rounds,bs,rps,ls,bs_rank,rps_rank,ls_rank,bs_rank_gt_naive,rps_rank_gt_naive,ls_rank_gt_naive
30,poisson_5,2019,5,0.666089,0.231273,1.105566,6,6,7,0,0,1
43,poisson_5,2020,5,0.673566,0.237384,1.108957,8,8,8,1,1,1
44,poisson_5,2021,5,0.683198,0.238559,1.122741,8,8,8,1,1,1
45,poisson_5,2022,5,0.671129,0.237099,1.114106,8,8,8,1,1,1
46,poisson_5,2023,5,0.680534,0.243684,1.120308,8,8,8,1,1,1
47,poisson_5,2024,5,0.703138,0.249254,1.157096,8,8,8,1,1,1

In [6]:
metrics[cols]

,model_name,year,num_rounds,bs,rps,ls,bs_rank,rps_rank,ls_rank,bs_rank_gt_naive,rps_rank_gt_naive,ls_rank_gt_naive
0,poisson_2,2019,5,0.610386,0.207571,1.020561,1,1,1,0,0,0
1,poisson_2,2020,5,0.637875,0.220218,1.057718,1,1,1,0,0,0
2,poisson_2,2021,5,0.640098,0.221308,1.059700,1,1,1,0,0,0
3,poisson_2,2022,5,0.627416,0.216166,1.043888,1,1,1,0,0,0
4,poisson_2,2023,5,0.636559,0.222511,1.055645,1,1,1,0,0,0
5,poisson_2,2024,5,0.644047,0.223656,1.066786,1,1,1,0,0,0
6,poisson_1,2019,5,0.629037,0.216234,1.046402,2,2,2,0,0,0
7,poisson_4,2020,5,0.649856,0.224753,1.076066,2,2,2,0,0,0
8,poisson_1,2021,5,0.654290,0.228057,1.079825,2,3,2,0,0,0
9,poisson_4,2022,5,0.640243,0.222466,1.063048,2,2,2,0,0,0
10,poisson_4,2023,5,0.644047,0.225571,1.068317,2,2,2,0,0,0
11,poisson_1,2024,5,0.659328,0.231094,1.090100,2,3,2,0,0,0
12,bradley_terry_4,2019,5,0.634082,0.219608,1.055951,3,4,3,0,0,0
13,poisson_1,2020,5,0.653514,0.227333,1.079831,3,3,3,0,0,0
14,poisson_4,2021,5,0.655926,0.224965,1.081402,3,2,3,0,0,0
15,poisson_1,2022,5,0.643873,0.223305,1.066066,3,3,3,0,0,0
16,poisson_1,2023,5,0.657954,0.231755,1.086199,3,3,3,0,0,0
17,poisson_4,2024,5,0.660373,0.226027,1.091468,3,2,3,0,0,0
18,bradley_terry_3,2019,5,0.634905,0.219576,1.056125,4,3,4,0,0,0
19,bradley_terry_3,2020,5,0.656961,0.229244,1.087193,4,4,4,0,0,0
20,bradley_terry_3,2021,5,0.659445,0.228710,1.093523,4,4,4,0,0,0
21,bradley_terry_3,2022,5,0.650365,0.225648,1.075900,4,4,4,0,0,0
22,bradley_terry_3,2023,5,0.661287,0.235482,1.092892,4,5,4,0,0,0
23,naive,2024,5,0.666667,0.233195,1.098612,4,4,4,1,1,1
24,poisson_4,2019,5,0.651657,0.222630,1.083285,5,5,5,0,0,0
25,bradley_terry_4,2020,5,0.660036,0.230440,1.092675,5,5,5,0,0,0
26,bradley_terry_4,2021,5,0.660115,0.228918,1.094791,5,5,5,0,0,0
27,bradley_terry_4,2022,5,0.650930,0.225681,1.077210,5,5,5,0,0,0
28,bradley_terry_4,2023,5,0.662093,0.235601,1.095136,5,7,6,0,1,0
29,bradley_terry_3,2024,5,0.670636,0.237181,1.110422,5,6,5,1,1,1
30,poisson_5,2019,5,0.666089,0.231273,1.105566,6,6,7,0,0,1
31,naive,2020,5,0.666667,0.233183,1.098612,6,6,6,1,1,1
32,naive,2021,5,0.666667,0.231837,1.098612,6,6,6,1,1,1
33,poisson_3,2022,5,0.660333,0.231955,1.087903,6,6,6,0,0,0
34,poisson_3,2023,5,0.664043,0.235156,1.093376,6,4,5,0,0,0
35,bradley_terry_4,2024,5,0.673186,0.238417,1.116284,6,7,6,1,1,1
36,naive,2019,5,0.666667,0.233080,1.098612,7,7,6,1,1,1
37,poisson_3,2020,5,0.667490,0.233309,1.099671,7,7,7,1,1,1
38,poisson_3,2021,5,0.671491,0.232614,1.103884,7,7,7,1,1,1
39,naive,2022,5,0.666667,0.233033,1.098612,7,7,7,1,1,1
40,naive,2023,5,0.666667,0.235593,1.098612,7,6,7,1,1,1
41,poisson_3,2024,5,0.679584,0.235347,1.117403,7,5,7,1,1,1
42,poisson_3,2019,5,0.678531,0.235037,1.113900,8,8,8,1,1,1
43,poisson_5,2020,5,0.673566,0.237384,1.108957,8,8,8,1,1,1
44,poisson_5,2021,5,0.683198,0.238559,1.122741,8,8,8,1,1,1
45,poisson_5,2022,5,0.671129,0.237099,1.114106,8,8,8,1,1,1
46,poisson_5,2023,5,0.680534,0.243684,1.120308,8,8,8,1,1,1
47,poisson_5,2024,5,0.703138,0.249254,1.157096,8,8,8,1,1,1