In [1]:
import pandas as pd

In [2]:
def create_rank(df, metric_name):
    df[f"{metric_name}_rank"] = (
        df.groupby(["championship", "year"])[metric_name]
        .rank(method="min", ascending=True)
        .astype(int)
    )

    df[f"{metric_name}_rank_gt_naive"] = df["model_name"] == "naive"
    df[f"{metric_name}_rank_gt_naive"] = (
        df.sort_values(["championship", "year", f"{metric_name}_rank"])
        .groupby(["championship", "year"])[f"{metric_name}_rank_gt_naive"]
        .cumsum()
        .astype(int)
    )

    return df

In [3]:
df = pd.read_csv("../real_data/results/metrics.csv")
metrics = (
    df[df["year"].isin([2023, 2024])]
    .groupby(["championship", "model_name", "year"])
    .agg(
        num_rounds=("num_rounds", "nunique"),
        bs=("brier_score", "mean"),
        rps=("ranked_probability_score", "mean"),
        ls=("log_score", "mean"),
    )
    .reset_index()
)


metrics = create_rank(metrics, "bs")
metrics = create_rank(metrics, "rps")
metrics = create_rank(metrics, "ls")
metrics = metrics.sort_values(by=["bs_rank", "year"], ignore_index=True)
cols = [
    "championship",
    "model_name",
    "year",
    "num_rounds",
    "bs",
    "rps",
    "ls",
    "bs_rank",
    "rps_rank",
    "ls_rank",
    "bs_rank_gt_naive",
    "rps_rank_gt_naive",
    "ls_rank_gt_naive",
]

metrics[cols].head(12)

,championship,model_name,year,num_rounds,bs,rps,ls,bs_rank,rps_rank,ls_rank,bs_rank_gt_naive,rps_rank_gt_naive,ls_rank_gt_naive
0,brazil,poisson_2,2023,5,0.636963,0.222660,1.056330,1,1,1,0,0,0
1,england,bradley_terry_4,2023,5,0.586022,0.203931,0.984568,1,2,1,0,0,0
2,france,poisson_1,2023,5,0.640247,0.227319,1.064071,1,1,1,0,0,0
3,germany,poisson_1,2023,5,0.585212,0.196162,0.984302,1,1,1,0,0,0
4,italy,poisson_2,2023,5,0.610850,0.197724,1.018020,1,1,1,0,0,0
5,spain,poisson_2,2023,5,0.593093,0.198861,0.993205,1,1,1,0,0,0
6,brazil,poisson_2,2024,5,0.644490,0.223845,1.067396,1,1,1,0,0,0
7,england,bradley_terry_3,2024,5,0.595411,0.209399,0.994086,1,2,1,0,0,0
8,france,poisson_2,2024,5,0.578007,0.215011,0.977628,1,1,1,0,0,0
9,germany,poisson_1,2024,5,0.627232,0.212131,1.042720,1,1,1,0,0,0
10,italy,bradley_terry_3,2024,5,0.616156,0.207761,1.026393,1,2,1,0,0,0
11,spain,poisson_2,2024,5,0.594461,0.205064,0.997053,1,1,1,0,0,0

In [4]:
metrics[metrics["model_name"] == "poisson_2"][cols]

,championship,model_name,year,num_rounds,bs,rps,ls,bs_rank,rps_rank,ls_rank,bs_rank_gt_naive,rps_rank_gt_naive,ls_rank_gt_naive
0,brazil,poisson_2,2023,5,0.636963,0.222660,1.056330,1,1,1,0,0,0
4,italy,poisson_2,2023,5,0.610850,0.197724,1.018020,1,1,1,0,0,0
5,spain,poisson_2,2023,5,0.593093,0.198861,0.993205,1,1,1,0,0,0
6,brazil,poisson_2,2024,5,0.644490,0.223845,1.067396,1,1,1,0,0,0
8,france,poisson_2,2024,5,0.578007,0.215011,0.977628,1,1,1,0,0,0
11,spain,poisson_2,2024,5,0.594461,0.205064,0.997053,1,1,1,0,0,0
14,france,poisson_2,2023,5,0.653501,0.235665,1.081951,2,2,2,0,0,0
25,england,poisson_2,2023,5,0.589183,0.205617,0.987367,3,3,3,0,0,0
39,germany,poisson_2,2023,5,0.607467,0.203178,1.008628,4,4,4,0,0,0
43,england,poisson_2,2024,5,0.625398,0.224307,1.040176,4,4,4,0,0,0
46,italy,poisson_2,2024,5,0.618523,0.209296,1.030212,4,4,4,0,0,0
81,germany,poisson_2,2024,5,0.672856,0.235445,1.110742,7,6,7,1,1,1

In [5]:
metrics[metrics["model_name"] == "poisson_5"][cols]

,championship,model_name,year,num_rounds,bs,rps,ls,bs_rank,rps_rank,ls_rank,bs_rank_gt_naive,rps_rank_gt_naive,ls_rank_gt_naive
84,brazil,poisson_5,2023,4,0.679214,0.242837,1.118296,8,8,8,1,1,1
85,england,poisson_5,2023,5,0.692493,0.253903,1.146212,8,8,8,1,1,1
86,france,poisson_5,2023,5,0.717873,0.266644,1.188923,8,8,8,1,1,1
87,germany,poisson_5,2023,5,0.707801,0.243882,1.170084,8,8,8,1,1,1
88,italy,poisson_5,2023,5,0.705905,0.242561,1.169616,8,8,8,1,1,1
89,spain,poisson_5,2023,5,0.702682,0.250115,1.162232,8,8,8,1,1,1
90,brazil,poisson_5,2024,5,0.703951,0.249685,1.158673,8,8,8,1,1,1
91,england,poisson_5,2024,5,0.714321,0.269553,1.170378,8,8,8,1,1,1
92,france,poisson_5,2024,5,0.690140,0.268846,1.144427,8,8,8,1,1,1
93,germany,poisson_5,2024,5,0.727787,0.261887,1.199011,8,8,8,1,1,1
94,italy,poisson_5,2024,5,0.702369,0.246516,1.156671,8,8,8,1,1,1
95,spain,poisson_5,2024,5,0.677426,0.241236,1.121099,8,8,8,1,1,1